*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
body{
    background-color: rgb(233, 234, 234);
}
.img-header{
    background-image: url(img/campnou.jpeg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
margin: 10px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-content: space-between;
   
   
}


#title{
    font-size: 4em;
    font-weight: bold;
    
}
#menu{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.65);
    height: 50px;
    align-items: center;
    padding: 0px 40px ;
    border: 2px black solid;
    justify-content: space-around;

        
}
a{
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.518);
    font-size: x-large;
    font-weight: bolder;}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.info{
    width: 40vw;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    border:3px solid black;
    background-color: white;
   
}
.subtitle{
    height: 70px;
    width: 40vw;
    background-color: rgb(194, 194, 194);
    margin: -15px;
    padding: 15px;
    display: flex;
    align-items: center;
    
}
.img_1{
    width: 600px;
    height: 250px;
    background-image: url(img/locales.jpg);
    background-size: contain;
    background-position: center;
}
.img_2{
    width: 600px;
    height: 250px;
    background-image: url(img/locales2.jpg);
    background-size: contain;
    background-position: center;
}
.img_3{
    width: 600px;
    height: 250px;
    background-image: url(img/nacionales1.jpg);
    background-size: cover;
    background-position: center;
}
.img_4{
    width: 600px;
    height: 250px;
    background-image: url(img/nacionales2.jpg);
    background-size: contain;
    background-position: center;
}
.img_5{
    width: 600px;
    height: 250px;
    background-image: url(img/internacionales.jpg);
    background-size: contain;
    background-position: center;
}
.img_6{
    width: 600px;
    height: 250px;
    background-image: url(img/inter\ 2.jpg);
    background-size: contain;
    background-position: center;
}
footer{
    height: 70px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}