*{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
.img-header{
    background-image: url(img/campnou.jpeg);
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header{
   text-align: center;
   padding: 40px 10px 40px 10px;
   row-gap: 100px;
   
}
#title{
    font-size: 4em;
    font-weight: bold;
    
}
#menu{
    display: flex;
    background-color: rgba(255, 255, 255, 0.65);
    justify-content:space-between;
    height: 50px;
    align-items: center;
    padding: 0px 40px ;
    border: 2px black solid;
    align-content: end;     
}
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.info{
    width: 40vw;
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    border:3px solid black;
   
}
.subtitle{
    height: 70px;
    background-color: rgb(216, 215, 215);
    margin: -15px;
    padding: 15px;
    display: flex;
    align-items: center;
    z-index: -1;
}
.img_1{
    width: 600px;
    height: 250px;
    background-image: url(img/locales.jpg);
    background-size: contain;
    background-position: center;
}
.img_2{
    width: 600px;
    height: 250px;
    background-image: url(img/locales2.jpg);
    background-size: contain;
    background-position: center;
}
.img_3{
    width: 600px;
    height: 250px;
    background-image: url(img/nacionales1.jpg);
    background-size: cover;
    background-position: center;
}
.img_4{
    width: 600px;
    height: 250px;
    background-image: url(img/nacionales2.jpg);
    background-size: contain;
    background-position: center;
}
.img_5{
    width: 600px;
    height: 250px;
    background-image: url(img/internacionales.jpg);
    background-size: contain;
    background-position: center;
}
.img_6{
    width: 600px;
    height: 250px;
    background-image: url(img/inter\ 2.jpg);
    background-size: contain;
    background-position: center;
}