/* Paleta colores
#A63A50
#F0E7D8
#AB9B96
#A1674A
#BA6E6E */
*{
    margin: 0px;
}
h1,h2,h3,h4,h5,h6 {

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}
body {
    background-color: whitesmoke;
}


h1, h3 {
    text-align: center;
    margin: 20px;
}

h1 {
    color: #F0E7D8;
    background-color: #99842d;
    border-radius: 5px;
    padding: 5px;
    font-family:inherit;

}

h2 {
    color: #99842d;
}
h3{

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h5 {


}

p {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
    text-justify:newspaper;
    text-align: justify;
    /* background-color: #A1674A; */
}

img{
    /*aquí pongo lo que quiero asignar a las imagenes*/
    
    border-radius: 50px;
    border-color: #F2CD37;
    border-style: solid;
    border-width: 10px;
    width: 300px;
    height: 550px;

}
a {
background-color: black;
color: white;
border-radius: 5px;
padding: 10px;
text-decoration: none;
    &:hover{
        box-shadow: 0 0 5px;
        color:#99842d;
    }
}

#css-href-eliminar-estilo{
background-color: #F0E7D8;
/* background-color: #A63A50;
color: white;
border-radius: 0px;
padding: 0px; */
}

nav{
    margin-bottom: 20px;
    margin: 20px;
}
.general{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
    gap: 20px;
    margin-right: 30px;
    
}
/* .video{
    width: 900px;
    height: 300px;
    background-color: black;
    background-image: url(/IMG/remaalbum.jpeg);
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
} */
.video{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    
    
}
#texto-imagen{
    /* background-color: #A63A50; */
    fot
    text-align: center;
    font-size: xx-large;
    
}
.foto-tamaño{
    
}
.derecha{
    /* width: 50%; */
    /* background-color: black; */
    margin-right: 50px;
}
.enlace-video{
    margin-bottom: 20px;

}
.iconos{
    display: flex;
    gap: 5px;
    margin-top: 10px;
    align-items: center;
    margin-bottom: 10px;
}
#texto-imagen{
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
}
#musica{
    display: flex;
    justify-content: center;
}