body{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
header{
    padding: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.titleHeader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    
}
.logo{
    display: flex;
    justify-content: center;

}
.slogan{
    display: flex;
    justify-content: center;
    font-style: italic;
}
nav{
    padding: 30px;;
    display: flex;
    justify-content: center;
    gap:50px;
    font-size: x-large;
    font-weight: bold;
    
}
a{
text-decoration: none;
color: white;
}
.container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}
main{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: flex-start ;
}

section{
width: 300px;
border: solid;
padding: 2px;
gap: 2px;
    
}
article{
    width: 50%;
}
p{
    font-size:x-large;
    }
aside{
    width: 20%;
    background-color: rgba(187, 187, 187, 0.131);
}
table2,th,td{
    width: 60vw;
    border: 2px solid white;
    text-align: center;
    font-size: larger;
}
footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
}